<div class="ddns list-card">
  <div class="info-card">
    <div class="title">
      DDNS
    </div>
    <div class="content">
      <form fxLayout='column'>
        <h3>服务提供商：ddns.cyaim.com</h3>

        <mat-form-field class="" appearance="outline">
          <mat-label>用户名</mat-label>
          <input matInput placeholder="用户名" value="{{ddns.UserName}}" name="UserName">
          <button *ngIf="ddns.UserName" matSuffix mat-icon-button aria-label="Clear" (click)="ddns.UserName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="" appearance="outline">
          <mat-label>密码</mat-label>
          <input matInput type="password" placeholder="密码" value="" name="Password" [(ngModel)]="ddns.Password">
          <button *ngIf="ddns.Password" matSuffix mat-icon-button aria-label="Clear" (click)="ddns.Password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="" appearance="outline">
          <mat-label>主机名称</mat-label>
          <input matInput placeholder="主机名称" value="" name="HostName" [(ngModel)]="ddns.HostName">
          <button *ngIf="ddns.HostName" matSuffix mat-icon-button aria-label="Clear" (click)="ddns.HostName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="" appearance="outline">
          <mat-label>状态检查</mat-label>
          <input matInput type="number" placeholder="状态检查" value="" name="StateCheck" [(ngModel)]="ddns.StateCheck">
        </mat-form-field>

        <button mat-raised-button one-btn color="primary">保存</button>
      </form>
    </div>
  </div>

</div>
