################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/edge/Cyaim.IOT/Cyaim.IOT/obj
/edge/Cyaim.IOT/Cyaim.IOT.Edge/bin/Debug/net6.0
/edge/Cyaim.IOT/Cyaim.IOT.Edge/obj
/edge/Cyaim.IOT/.vs/Cyaim.IOT/v17
