<div class="network-speed list-card">
  <div class="info-card">
    <div class="title">
      网络测速
    </div>
    <div class="content">
      <h3>延迟：<span>{{speed.ping}}</span></h3>
      <h3>网速：<span>{{speed.network}}</span></h3>
    </div>
  </div>

  <div class="info-card">
    <div class="title">
      测速历史
    </div>
    <div class="content">
      <h4>备份设备的配置，恢复文件可以用来恢复配置。</h4>
      <button mat-raised-button>创建恢复</button>
      <button mat-raised-button>立即恢复</button>
    </div>
  </div>

</div>
