footer {
  width: 100%;
  // position: absolute;
  // bottom: 0%;
  // left: 0;
  margin-bottom: 1%;
}

footer .sys-info {
  width: 25rem;
  margin: 0 auto;
  color: #EEE;
  font-size: 10%;
  text-align: center;
}
