<div class="sys-state list-card">
  <div class="info-card">
    <div class="title">
      系统版本信息
    </div>
    <div class="content">
      <h3>设备序列号：0000000001</h3>
      <h3>Web UI版本：1.0</h3>
      <h3>主程序版本：1.0</h3>
      <h3>DDNS版本：1.0</h3>
      <h3>VPN版本：1.0</h3>
      <h3>采集程序版本：1.0</h3>

    </div>
  </div>

  <div class="info-card">
    <div class="title">
      升级检测
    </div>
    <div class="content">
      <h2>系统版本</h2>
      <h3>当前主程序版本 <span>1.0.0</span>，当前版本最新，无需升级</h3>
      <button mat-raised-button color="primary">上传升级包</button>
    </div>
  </div>

  <div class="info-card">
    <div class="title">
      备份与恢复
    </div>
    <div class="content">
      <h4>备份设备的配置，恢复文件可以用来恢复配置。</h4>
      <button mat-raised-button>创建恢复</button>
      <button mat-raised-button>立即恢复</button>
    </div>
  </div>

  <div class="info-card">
    <div class="title">
      恢复出厂设置
    </div>
    <div class="content">
      <button mat-raised-button one-btn color="primary" class="one-btn">重置设备</button>
    </div>
  </div>

  <div class="info-card">
    <div class="title">
      安装插件
    </div>
    <div class="content">
      <button mat-raised-button class="one-btn">点击安装</button>
    </div>
  </div>

</div>
