<div class="internet" fxLayout='row' fxLayoutAlign='space-between start'>


  <table class="network-state" fxFlex='45'>
    <tbody>
      <tr>
        <td class="value">外网状态</td>
      </tr>
      <tr>
        <td>
          <dl>
            <dt>连接类型</dt>
            <dd class="value">DHCP</dd>
          </dl>
        </td>

        <td>
          <dl>
            <dt>IP地址</dt>
            <dd class="value">192.168.1.1</dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td>
          <dl>
            <dt>DNS</dt>
            <dd class="value">192.168.1.1</dd>
          </dl>
        </td>
        <td>
          <dl>
            <dt>网关地址</dt>
            <dd class="value">192.168.1.1</dd>
          </dl>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="network-speed" fxFlex='45'>
    <tbody>
      <tr>
        <td class="value">外网带宽</td>
      </tr>
      <tr>
        <td>
          <dl>
            <dt>下载带宽</dt>
            <dd class="value">50Mbps</dd>
          </dl>
        </td>
        <td>
          <dl>
            <dt>上传带宽</dt>
            <dd class="value">20Mbps</dd>
          </dl>
        </td>
      </tr>

    </tbody>
  </table>

</div>
