<div class="overview" fxLayout='column' fxLayoutAlign='space-between center'>

  <table class="view" fxFlex='80'>
    <tbody>
      <tr>
        <td>
          <p>CPU</p>
          <mat-spinner mode="determinate" value="60"></mat-spinner>
        </td>
        <td>
          <p>内存</p>
          <mat-spinner mode="determinate" value="10"></mat-spinner>
        </td>

        <td>
          <p>磁盘</p>
          <mat-spinner mode="determinate" value="60"></mat-spinner>
        </td>

        <td>
          <p>平均负载</p>
          <mat-spinner mode="determinate" value="20"></mat-spinner>
        </td>
      </tr>

      <tr>
        <td>系统时间</td>
        <td>持续运行时间</td>
        <td>实时上传</td>
        <td>实时下载</td>
      </tr>
      <tr>
        <td>2022年1月20日</td>
        <td>1小时20分钟10秒</td>
        <td>200KB/s</td>
        <td>200KB/s</td>
      </tr>
    </tbody>


  </table>
  <table class="info" fxFlex='20'>
    <tbody>
      <tr>
        <td>设备型号</td>
        <td>系统版本</td>
        <td>MAC地址</td>
        <td>SN</td>
      </tr>
      <tr>
        <td>
          Cyaim Iot Gateway
        </td>
        <td>1.0</td>
        <td>8C:DE:F9:84:78:14</td>
        <td>30322/F0Z881885</td>
      </tr>
    </tbody>

  </table>
</div>
